{% extends "base.html" %}

{% block title %}Add New Article{% endblock %}

{% block css %}
<style>
.errors { color:red; }
h1{ font-size:20px; }
#title, #tags { width:100%; height:1.5em; }
textarea {height: 200px; width: 100%; }
</style>
{% endblock %}

{% block main %}
  <h1>Add New Article</h1>

{% from "_form_helpers.html" import render_field %}
  <form action="{{ action_url }}" method="post">
      <p>{{ form.hidden_tag() }}</p>
      <p>{{ render_field(form.title, placeholder="标题") }}</p>
      <p>{{ render_field(form.content) }}</p>
      <p>{{ render_field(form.tags, placeholder="多个tag请用空格分隔") }}</p>
      <p>{{ render_field(form.is_public) }}</p>
      <p class="submit">{{ form.submit }}</p>
  </form>
{% endblock %}
