<!doctype html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}Just a Blog{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 1140px Grid styles for IE -->
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" /><![endif]-->

    <!-- The 1140px Grid - http://cssgrid.net/ -->
    <link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen" />

    <!-- Your styles -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" />

    {% block css %}{% endblock %}
</head>

<body>
  <div id="head-little-bar"></div>
  <div id="container">
    <header>
      {% block header %}{% endblock %}
    </header>
    <div id="main" role="main">
      {% block main %}{% endblock %}
    </div>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </div> <!--! end of #container -->

  {% block js %}{% endblock %}
</body>
</html>
