{% extends "base.html" %}

{% block title %}Edit Articles{% endblock %}
{% block css %}
<style>
a.article {color:#333333;}
</style>
{% endblock %}

{% block main %}
<h1>Edit Articles</h1>

{% for article in articles %}
    <p>({% if not article.is_public %}Private{% else %}{{ article.number }}{% endif %})
    <a class="article" href="{{ article.get_absolute_url() }}">{{ article.title|title }}</a>
    <a href="{{ url_for('edit_list') }}{{ article.number }}/">Edit</a></p>
{% endfor %}

{% endblock %}
